[core]
  editor = vim
  hideDotFiles = false
  ignoreCase = true
#  fsmonitor = true
  eol = lf
  safecrlf = true
  commitGraph = true
[checkout]
  defaultRemote = origin
  workers = 4
[commit]
#  gpgsign = true
#  template = /home/briant/.git-config/gitmessage.txt
[credential]
  helper = store
[fetch]
  prune = true
  pruneTags = true
  output = full
  parallel = 2
[gpg]
  program = /usr/bin/gpg
  minTrustLevel = fully
[gui]
  commitMsgWidth = 72
  pruneDuringFetch = true
[init]
  defaultBranch = master
[log]
  showSignature = true
[merge]
  ff = true
  autoStash = true
  guitool = kdiff3
[pull]
  rebase = true
[push]
  default = current
  followTags = true
[rebase]
  stat = true
  autoSquash = false
  autoStash = true
[tag]
  gpgSign = true
[user]
  name = "Thompson, Brian"
  email = brian@amerixan.tech
  signingkey = C170EA1D536182BAF9DE59CAA708A7C5770815AA
