[core]
editor = vim
hideDotFiles = false
ignoreCase = true
eol = lf
safecrlf = true
commitGraph = true

[checkout]
defaultRemote = origin
workers = 4

[commit]
gpgsign = false

[credential]
helper = store

[credential "https://github.com"]
helper =
helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
helper =
helper = !/usr/bin/gh auth git-credential

[fetch]
prune = true
pruneTags = true
output = full
parallel = 2

[gpg]
program = /usr/bin/gpg
minTrustLevel = fully

[gui]
commitMsgWidth = 72

[init]
defaultBranch = master

[log]
showSignature = true

[push]
default = current
followTags = true

[tag]
gpgSign = false

[user]
name = Thompson, Brian
email = brianrobt@pm.me
