[core]
  editor = nvim
  hideDotFiles = false
  ignoreCase = true
  eol = lf
  safecrlf = true
  commitGraph = true
[checkout]
  defaultRemote = origin
  workers = 4
[commit]
  gpgsign = true
[credential]
  helper = store
[fetch]
  prune = true
  pruneTags = true
  output = full
  parallel = 2
[gpg]
  program = /usr/bin/gpg
  minTrustLevel = fully
[gui]
  commitMsgWidth = 72
[init]
  defaultBranch = master
[log]
  showSignature = true
[push]
  default = current
  followTags = true
[tag]
  gpgSign = true
[user]
  name = Thompson, Brian
  email = brt9023@gmail.com
  signingkey = 9891C3B81BA4228DA30AA55974AC36EEBB6D858F
